<div class="container">
    <div class="card my-5">
        <div class="card-header">
            <h2>CURSO</h2>
        </div>

        <div class="card-body">
            <div>
                <ul class="list-group">
                    <li class="list-group-item">ID: {{course.id}} </li>
                    <li class="list-group-item">NOMBRE: {{course.name}} </li>
                </ul>
            </div>
            <div class="card my-3">
                <student-list [items]="course.students"></student-list>

            </div>
        </div>
    </div>
</div>