<div>
    <div>
        <h2>CURSO</h2>
        <div>
            <ul>
                <li>ID: {{course.id}} </li>
                <li>NOMBRE: {{course.name}} </li>
            </ul>
        </div>
        <div>
            <h3>ESTUDIANTES:</h3>
            <table>
                <thead>
                    <th>ID</th>
                    <th>IDENTIFICACIÓN</th>
                    <th>NOMBRE</th>
                </thead>
                <tbody>
                    @for (item of course.students; track $index) {
                        <tr>
                            <td>{{item.id}}</td>
                            <td>{{item.idCard}}</td>
                            <td>{{item.name}} {{item.surname}} </td>
                        </tr>
                    }
                </tbody>

            </table>

        </div>
    </div>
</div>
